@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');
body{
  font-family: 'Baloo 2', cursive !important;
}
nav{
    background-color: #F789AE;
}
.nav-link:hover {
    color: #ffccff !important;
}/*
.imgnormalizada {
    height: 90vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 77px;
}*/
footer{
    background-color: #897CB3;
}
footer h4{
    font-size: 20px;
    color:#ffffff;
    font-weight: 500;
    font-weight: 500;
    border-bottom: 3px solid #00c3ff;
    padding-left: 20px;
}
footer p{
    font-size: 18px;
    text-decoration: none;
    color:white;
    margin-bottom: 15px;
    transition: all .3s ease;
}
footer a{
    width: 40px;
    background-color: rgb(255, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    padding: 7px 7px;
    line-height: 48px;
    border-radius: 30%;
    color: white;
    transition: all .5s ease;
}
footer a:hover{
    background-color: #D497D3 !important;
}