body{
  font-family: 'Baloo 2', cursiva;
}
nav{
  background-color: #F789AE;
}
.nav-link:hover {
  color: #ffccff !important;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #F789AE;
  border-radius: 10px;
}

input[type="date"],
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: pink;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(214, 144, 144);
}
footer{
  background-color: #897CB3;
}
footer h4{
  font-size: 20px;
  color:#ffffff;
  font-weight: 500;
  font-weight: 500;
  border-bottom: 3px solid #00c3ff;
  padding-left: 20px;
}
footer p{
  font-size: 18px;
  text-decoration: none;
  color:white;
  margin-bottom: 15px;
  transition: all .3s ease;
}
footer a{
  width: 40px;
  background-color: rgb(255, 225, 225, 0.2);
  margin: 0 10px 10px 0;
  padding: 7px 7px;
  line-height: 48px;
  border-radius: 30%;
  color: white;
  transition: all .5s ease;
}
footer a:hover{
  background-color: #D497D3 !important;
}